button {
    background-color: #B9B4C7;
    font-family: 'Courier New bold', Courier, monospace;
    padding: 3px; 
    margin: 3px;
    margin-left: 170px;
}

label {
    font-family: 'Courier New bold', Courier, monospace;
    padding-bottom: 20px;
}

.title { 
   padding-left: 57px;
   padding-bottom: 10px;
}

h3 {
    display: flex;
    justify-content: center;
}

.activity-button {
    margin-left: 104px;
    margin-bottom: 10px;
}