form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
}

.btn-goal {
    width: 8rem;
    padding: 3px;
}

@media screen and (max-width: 992px) {
    form {
      padding-left: 120px;
    }
  }