/* .webpage-name {
    width: 20rem;
} */

.navbar-nav {
    padding-top: 50px;
}

.navbar {
    background-color: #705d71;
    font-family: 'Courier New Bold', Courier, monospace;
    font-size: 17px;
}

